<section id="donate" class="py-20 bg-yellow-100 text-gray-800">
    <div class="container mx-auto px-4 text-center max-w-3xl">
        <h2 class="text-3xl font-bold mb-6">{{ 'donations.whyDonationMatters' | transloco }}</h2>
        <p class="text-lg leading-relaxed mb-8">
            {{ 'donations.donationMattersDescription' | transloco }}
        </p>
        <a href="/donation"
            class="bg-red-600 hover:bg-red-500 text-white font-semibold py-3 px-6 rounded-xl shadow-md transition duration-300">
            {{ 'donations.donateSecurelyNow' | transloco }}
        </a>

    </div>

</section>