<div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="oldPassword" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="oldPassword" formControlName="OldPassword"
                [ngClass]="{ 'is-invalid': changePasswordForm.get('OldPassword')?.touched && changePasswordForm.get('OldPassword')?.errors }">
            <div class="invalid-feedback" *ngIf="changePasswordForm.get('OldPassword')?.errors?.['required']">
                Old Password is required
            </div>
        </div>

        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="Password"
                [ngClass]="{ 'is-invalid': changePasswordForm.get('Password')?.touched && changePasswordForm.get('Password')?.errors }">
            <div class="invalid-feedback" *ngIf="changePasswordForm.get('Password')?.errors?.['required']">
                New Password is required
            </div>
            <div class="invalid-feedback" *ngIf="changePasswordForm.get('Password')?.errors?.['minlength']">
                Password must be at least 4 characters
            </div>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="ConfirmPassword"
                [ngClass]="{ 'is-invalid': changePasswordForm.get('ConfirmPassword')?.touched && (changePasswordForm.get('ConfirmPassword')?.errors || changePasswordForm.get('ConfirmPassword')?.hasError('passwordMismatch')) }">
            <div class="invalid-feedback" *ngIf="changePasswordForm.get('ConfirmPassword')?.errors?.['required']">
                Confirm Password is required
            </div>
            <div class="invalid-feedback"
                *ngIf="changePasswordForm.get('ConfirmPassword')?.hasError('passwordMismatch')">
                Passwords do not match
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Close click')">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="changePasswordForm.invalid || isLoading"
        (click)="submit()">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
        Save Changes
    </button>
</div>