$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #4b4848,
    primary-dark: #000000,
    secondary: #ebc76e,
    secondary-dark: #ebc76e
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
); 