<!-- [ Sidebar Menu ] start -->
<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <!-- [ Header Topbar ] start -->
      <a [routerLink]="['/admin-dashboard']" class="b-brand"
        style="display: flex; justify-content: center; width: 100%;">
        <!-- ========   change your logo hear   ============ -->
        <img src="assets/logo-transparent.png" height="80px" class="logo logo-lg" appImageError>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>
<!-- [ Sidebar Menu ] end -->