<app-hero></app-hero>

<!-- Top Advertisement Banner -->
<app-advertisement pageType="homepage" position="Top" type="Banner" [maxCount]="2"></app-advertisement>

<app-features></app-features>

<!-- Inline Advertisement -->
<app-advertisement pageType="homepage" position="Inline" type="Inline" [maxCount]="1"></app-advertisement>

<app-news></app-news>
<app-events-carousel></app-events-carousel>

<!-- Sidebar Advertisement -->
<app-advertisement pageType="homepage" position="Sidebar" type="Sidebar" [maxCount]="2"></app-advertisement>

<app-clubs></app-clubs>
<app-about></app-about>
<app-board-members></app-board-members>
<app-our-sponsors></app-our-sponsors>
<app-donation-highlight></app-donation-highlight>

<!-- Bottom Advertisement Banner -->
<app-advertisement pageType="homepage" position="Bottom" type="Banner" [maxCount]="2"></app-advertisement>

<app-contact></app-contact>