<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"><span class="text-success" style="font-size: 18px;font-weight: bolder;"> Register
                Foundation User
            </span>
        </h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="col-md-12 p-4 ">
            <div class="col-md-12 text-end">
                <span style="font-size: 18px;color:#3b2413"> Total Users:
                    {{users.length}}
                </span>
            </div>
            <div class="row">
                <div class="col-xl-3 ">
                    <!-- <input type="text" placeholder="search ..." class="form-control" style="font-size: 18px;"
                    [(ngModel)]="searchTerm" (input)="applyFilter()" placeholder="Search"> -->
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 text-end">
                    <button class="btn btn-sm btn-outline-primary text-end" (click)="RegisterUser()"><i
                            class="bi bi-plust"></i> Register </button>

                </div>
            </div>


            <div class="table-responsive mt-3">
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email </th>
                            <th>Username</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let user of users">
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.userName }}</td>
                            <td>{{ user.status }}</td>
                            <td>
                                <button type="button" class="btn btn-sm btn-outline-warning rounded-circle"
                                    (click)="updateUser(user)" title="Edit Foundation">
                                    <i class="ti ti-pencil"></i>
                                </button>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>