<main>
  <!-- Hero Section -->
  <!-- Enhanced Hero Section -->
  <section id="home" class="hero-section position-relative overflow-hidden ">
    <div class="hero-background"></div>
    <div class="container position-relative">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active"
            aria-current="true"></button>
          <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#heroCarousel" data-bs-slide-to="2"></button>
        </div>

        <div class="carousel-inner">
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="row align-items-center min-vh-75">
              <div class="col-lg-6 hero-content fade-in-left">
                <h1 class="display-3 fw-bold text-gradient mb-3">

                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.title)|| "Welcome to
                  Glory Foundation"):((companyProfileDto&&companyProfileDto.localTitle)|| "ወደ Glory Foundation እንኳን በደህና
                  መጡ") }}

                  <span class="highlight-bar"></span>
                </h1>
                <p class="lead mb-4 text-secondary fw-medium">
                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.description)|| "Empowering
                  professionals through collaboration and growth. Join our community of innovators and leaders."):
                  ((companyProfileDto&&companyProfileDto.localDescription)|| "ወደ Glory Foundation እንኳን በደህና መጡ በትብብር እና
                  በማደግ
                  ባለሙያዎችን ማበረታታት. የፈጠራ ባለሙያዎች እና መሪዎች ማህበረሰባችንን ይቀላቀሉ።") }}
                </p>
                <div class="hero-buttons d-flex gap-3">
                  <button class="btn btn-primary btn-lg pulse-btn me-3" (click)="navigateToRegister()">
                    <i class="fas fa-user-plus me-2"></i>
                    {{'Member Register'|translate}}
                  </button>
                  <button class="btn btn-outline-primary btn-lg" (click)="navigateToAdmin()">
                    <i class="fas fa-user-shield me-2"></i>
                    {{'Admin Portal'|translate}}
                  </button>
                </div>

              </div>

              <div class="col-lg-6 hero-image fade-in-right">
                <div class="image-wrapper">
                  <img *ngIf="companyProfileDto"
                    [src]="getImage(companyProfileDto&&companyProfileDto.dashboardImagePath)"
                    class="img-fluid rounded-lg hero-img" alt="Hero Image" appImageError>
                  <img *ngIf="!companyProfileDto" src="assets/hero.jpg" height="50"
                    class="img-fluid rounded shadow-sm mb-4" alt="Welcome" appImageError>

                  <div class="floating-card card-1">
                    <i class="fas fa-users"></i>
                    <span> {{'Growing_Community'|translate}}</span>
                  </div>
                  <div class="floating-card card-2">
                    <i class="fas fa-chart-line"></i>
                    <span> {{'Professional_Growth'|translate}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item ">
            <div class="row align-items-center min-vh-75">
              <div class="col-lg-6 hero-content fade-in-left">
                <h1 class="display-3 fw-bold text-gradient mb-3">

                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.title)|| "Welcome to
                  Glory Foundation"):((companyProfileDto&&companyProfileDto.localTitle)|| "ወደ Glory Foundation እንኳን በደህና
                  መጡ") }}

                  <span class="highlight-bar"></span>
                </h1>
                <p class="lead mb-4 text-secondary fw-medium">
                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.description)|| "Empowering
                  professionals through collaboration and growth. Join our community of innovators and leaders."):
                  ((companyProfileDto&&companyProfileDto.localDescription)|| "ወደ Glory Foundation እንኳን በደህና መጡ በትብብር እና
                  በማደግ
                  ባለሙያዎችን ማበረታታት. የፈጠራ ባለሙያዎች እና መሪዎች ማህበረሰባችንን ይቀላቀሉ።") }}
                </p>
                <div class="hero-buttons d-flex gap-3">
                  <button class="btn btn-primary btn-lg pulse-btn me-3" (click)="navigateToRegister()">
                    <i class="fas fa-user-plus me-2"></i>
                    {{'Member Register'|translate}}
                  </button>
                  <button class="btn btn-outline-primary btn-lg" (click)="navigateToAdmin()">
                    <i class="fas fa-user-shield me-2"></i>
                    {{'Admin Portal'|translate}}
                  </button>
                </div>

              </div>

              <div class="col-lg-6 hero-image fade-in-right">
                <div class="image-wrapper">
                  <img *ngIf="companyProfileDto"
                    [src]="getImage(companyProfileDto&&companyProfileDto.dashboardImagePath)"
                    class="img-fluid rounded-lg hero-img" alt="Hero Image" appImageError>
                  <img *ngIf="!companyProfileDto" src="assets/hero.jpg" height="50"
                    class="img-fluid rounded shadow-sm mb-4" alt="Welcome" appImageError>

                  <div class="floating-card card-1">
                    <i class="fas fa-users"></i>
                    <span> {{'Growing_Community'|translate}}</span>
                  </div>
                  <div class="floating-card card-2">
                    <i class="fas fa-chart-line"></i>
                    <span> {{'Professional_Growth'|translate}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item ">
            <div class="row align-items-center min-vh-75">
              <div class="col-lg-6 hero-content fade-in-left">
                <h1 class="display-3 fw-bold text-gradient mb-3">

                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.title)|| "Welcome to
                  Glory Foundation"):((companyProfileDto&&companyProfileDto.localTitle)|| "ወደ Glory Foundation እንኳን በደህና
                  መጡ") }}

                  <span class="highlight-bar"></span>
                </h1>
                <p class="lead mb-4 text-secondary fw-medium">
                  {{selectedLanguage=='en'? ((companyProfileDto&&companyProfileDto.description)|| "Empowering
                  professionals through collaboration and growth. Join our community of innovators and leaders."):
                  ((companyProfileDto&&companyProfileDto.localDescription)|| "ወደ Glory Foundation እንኳን በደህና መጡ በትብብር እና
                  በማደግ
                  ባለሙያዎችን ማበረታታት. የፈጠራ ባለሙያዎች እና መሪዎች ማህበረሰባችንን ይቀላቀሉ።") }}
                </p>
                <div class="hero-buttons d-flex gap-3">
                  <button class="btn btn-primary btn-lg pulse-btn me-3" (click)="navigateToRegister()">
                    <i class="fas fa-user-plus me-2"></i>
                    {{'Member Register'|translate}}
                  </button>
                  <button class="btn btn-outline-primary btn-lg" (click)="navigateToAdmin()">
                    <i class="fas fa-user-shield me-2"></i>
                    {{'Admin Portal'|translate}}
                  </button>
                </div>

              </div>

              <div class="col-lg-6 hero-image fade-in-right">
                <div class="image-wrapper">
                  <img *ngIf="companyProfileDto"
                    [src]="getImage(companyProfileDto&&companyProfileDto.dashboardImagePath)"
                    class="img-fluid rounded-lg hero-img" alt="Hero Image" appImageError>
                  <img *ngIf="!companyProfileDto" src="assets/hero.jpg" height="50"
                    class="img-fluid rounded shadow-sm mb-4" alt="Welcome" appImageError>

                  <div class="floating-card card-1">
                    <i class="fas fa-users"></i>
                    <span> {{'Growing_Community'|translate}}</span>
                  </div>
                  <div class="floating-card card-2">
                    <i class="fas fa-chart-line"></i>
                    <span> {{'Professional_Growth'|translate}} </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>

        <!-- Custom Carousel Controls -->

      </div>
    </div>
  </section>


</main>